body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right, #63e0c2, #559686);
}


.forms_container{
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    max-width: 800px;
    padding: 1em 2em;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 25px;
}


button {
    margin-top: 20px;
}
