body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right, #63e0c2, #559686);
}

h1 {
    text-align:center;
    color:white;
    margin-top: 100px;
}

#car_value, #tax_value, #count_payments_value {
    color: goldenrod;
}

.forms_container{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form {
    text-align: center;
    width: 90%;
    max-width: 800px;
    padding: 1em 2em;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.steplist {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 0;
    opacity: 0.6;
}
.steplist option {
    display: flex;
    justify-content: center;
    height: auto;
    /*align-items: flex-start;*/
}

.range-input-group {
    margin-bottom: 40px;
}

.range-input-group label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.5;
    margin-bottom: 0;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0.9px 0.9px 5px rgba(0, 0, 49, 0.5),
    0px 0px 0.9px rgba(0, 0, 75, 0.5);
    border: 1px solid #cecece;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.5px;
    box-sizing: border-box;
}


input[type="range"]::-moz-range-thumb {
    box-shadow: 0.9px 0.9px 5px rgba(0, 0, 49, 0.5),
    0px 0px 0.9px rgba(0, 0, 75, 0.5);
    border: 1px solid #cecece;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}
input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}

#calculate {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #559686;
    color: white;
    border: 2px solid #63e0c2;
    border-radius: 12px;
    outline: none;
}

#calculate:hover {
    background-color: white;
    color: black;
}

.column {
    float: left;
    width: 25%;
}

.row {
    margin-bottom: 20px;
    display: none;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
